/*Page 2*/
@font-face {
    font-family: 'CustomFont'; /* Name for your font */
    src: url('../assets/Fonts/DIMBO\ REGULAR.TTF') format('truetype');
    font-weight: 1000;
    font-style: normal;
  }

.page2-container {
    background-color: #df9542;
    height: 100vh;
    position: relative;
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center;
}

.myi{
    font-family: 'CustomFont';
    font-size: calc(4vw + 1em);
    font-weight: 1000;
    color: white;
    -webkit-text-stroke: 0.2vw black; 
    text-shadow: 0.3vw 0.2vw 0.2vw black;
    letter-spacing: -0.1vw;
    z-index: 2;
    text-align: center;
}

/* .all-text-background {
    position: absolute;
    width: 100%;
    height: 73%;
    margin-top: 1%;
    z-index: 1;
  } */

.row{
    background-color: #7A520B;
    width: 100%;
    padding-bottom: 3%;
    display:flex; 
    flex-direction: row;
    justify-content: center;
}

.page2-dotted-line {
    position: absolute;
    align-self: center;
    top: 0%;
    left: 9%;
    width: 70%;
    height: auto;
    z-index: 2;
}

.fonts{
    font-family: 'CustomFont';
    font-size: calc(3.5vw + 1em);
    font-weight: 1000;
    color: white;
    -webkit-text-stroke: 0.2vw black;
    text-shadow: 0.3vw 0.2vw 0.2vw black;
    letter-spacing: -0.1vw;
    z-index: 3;
    margin-bottom: -2%;
}

.sp-title{
    position: relative;
    font-family: 'CustomFont';
    font-size: calc(1.5vw + 0.5rem);
    font-weight: 1000;
    color: white;
    z-index: 4;
    white-space: nowrap;
    background-color: black;
    margin-bottom: -1%;
    z-index: 5;
    line-height: 0.5;
}

.sp-content{
    position: relative;
    font-family: 'CustomFont';
    font-size: calc(1vw + 0.5em);
    font-weight: 1000;
    color: white;
    margin-top: -20px;
    letter-spacing: -0.5px;
    line-height: 1.1;
    z-index: 4;
    white-space: nowrap;
    background-color: black;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 16%;
    padding-bottom: 5%;
}
  
  
  .text-wrapper {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    width: fit-content;
  }
  
  .text-background {
    position: absolute;
    top: 60%; 
    width: 88%; 
    height: auto;
    z-index: 3; 
    transform: translateY(50%);
  }

  .hero-frame{
    position: relative; /* Vertically center */
  /* transform: translateY(50%);  */
    height: auto; /* Ensure the frame retains its original height */
    width: 100%;
    max-width: 20vw;
    z-index: 3;
    margin-bottom: 5%;
  }

  .hero-content {
    position: absolute;
    top: 16.5%;
    width: auto;
    height: 50%;
    z-index: 4; /* Place above the background */
  }

  .mickey{
    top: 16.5%;
    height: 50%;
  }

  .silhouette{
    position: absolute;
    width: auto;
    height: 28%;
    z-index: 1;
  }

  .hero-element{
    display: none;
    position: absolute;
    width: auto;
    height: 28%;
    z-index: 2;
  }

  .text-wrapper:hover .hero-element{
    display: block;
  }

  @media (max-width: 768px) {
    .hero-frame {
        max-width: 32vw;
    }
    .hero-content {
        height: 50%;
        top: 17%;
    }
    .mickey{
        height: 50%;
    }
    .text-background{
        width: 78%;
    }
    .sp-title {
        font-size: calc(1.5vw + 0.9em);
    }
    .sp-content {
        font-size: calc(1vw + 0.7em);
    }
  }

  @media (max-width: 576px) {
    .hero-frame {
        max-width: 28vw;
        margin-bottom: 7%;
    }
    .hero-content {
        height: 48%;
        top: 17%;
    }
    .mickey {
        height: 48%;
    }
    .text-background{
        width: 80%;
    }
    .sp-title {
        font-size: calc(1.5vw + 0.5em);
    }
    .sp-content {
        font-size: calc(1vw + 0.5em);
    }
  }


